.menu{
    display: flex;
    justify-content:space-around ;
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
}
.picture{
    width: 100vw;
    height: 100vh;
}
.about{
    font-style: italic;
    border: 1px solid darkblue;
    font-family: 'Times New Roman', Times, serif;
    text-align:justify ;
    margin: 20px;
    line-height: 1.2;
    font-size: 16px;
    color: darkolivegreen;
    padding: 10px;
}
.gallery-pic{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-bottom: 20px;
    
}
.gallery-pic:hover{
    box-shadow: 5px 5px 5px 5px black;
}
.gallery{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu a{
    text-decoration:none ;
    color: darkgreen;
    transition: 0.8s;
}
.menu a:hover{
    color: lightgreen;
    border-bottom: 2px solid red;
}